*{
    margin: 0;
    font-family: 'Work Sans';
}
h1{
    
    font-weight: 700;
    font-size: 60px;
    text-align: right;
    color: #151414;
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}
p{
  color:  #444343;
  font-size: 20px;
}

.header-description{
   font-size: 20px;
   font-weight: 400;
   text-align: right; 
   color: #444343;
   padding: 20px;
}

.contact-btn {
    text-align: right;
   
}
.contact-btn a{
    text-decoration: none;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffff;
    font-weight: 700;
    
}
/* Heading details */
.heading-details{
    margin-right: 230px;
    margin-top: 120px; 
}
.heading-container{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 600px;
    padding: 30px;
    margin-bottom: 50px;
}
/* failure section styles */
.failure-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 50px;
}
/* my plan styles */
.plan-section{
    padding: 60px  0;
    background-color: #F5F5F5;

}
.plan-section{
    margin: 0 230px 80px;
}
.my-plan{
    text-align: center;
    margin-top: 30px;
}
.plan-contain{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    justify-content: center;
}
.item img{
    width: 40px;
}
.item{
    margin-left: 20px;
    padding: 10px 20px;
}
/* contact section style */
.contact-section{
    padding: 60px; 
    margin: 0 230px 70px;
    background-image: url(/images/watch.png);
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
     
    background-repeat: no-repeat;
}
.contact-details{
    padding: 20px;
    
}
.contact-details h2{
    color: #ffff;
    padding-bottom: 5px;
}
.call-me-btn {
    text-decoration: none;
    text-decoration: none;
    background-color: #F5F5F5;
    color: orangered; 
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    
}
/* footer styles */
footer{
    background-color: #151414;
    padding: 100px 0px ;
    margin-bottom: 20px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
}
.footer-title{
    color: #FFFFFF;
}
.email{
    color: #FFFFFF;
}
.footer-description{
    color: #FFFFFF;
}
.email-id{
    width: 100%;
    padding: 10px;
    background-color: #151414;
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 30px;
}
.subs-btn{
    text-decoration: none;
    padding: 10px 14px;
    background-color: #FFFFFF;
    color: orangered;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
   
}
