*{
    margin: 0;
    font-family: 'Work Sans';
}
h1{
    
    font-weight: 700;
    font-size: 60px;
    text-align: right;
    color: #151414;
}

.header-description{
   font-size: 20px;
   font-weight: 400;
   text-align: right; 
   color: #444343;
   padding: 20px;
}

.contact-btn {
    text-align: right;
   
}
.contact-btn a{
    text-decoration: none;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: #ffff;
    font-weight: 700;
    
}
/* Heading details */
.heading-details{
    margin-right: 230px;
    margin-top: 120px; 
}
.heading-container{
    background-image: url(../images/banner/banner1.png);
    height: 600px;
    padding: 40px;
    margin-bottom: 50px;
}